@import {{site.theme}}
.inner {
    max-width:fit-content;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(./images/nights-watch3.jpg);
    background-size: auto 100vh;
    display: flex;
    overflow: hidden;
}

@font-face {
    font-family: 'AnglicanText';
    src: url('./font/anglic/AnglicanText.woff2') format('woff2'),
        url('./font/anglic/AnglicanText.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Constantine';
    src: url('./font/const/Constantine.woff2') format('woff2'),
        url('./font/const/Constantine.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.slogan {
    font-family: AnglicanText, Constantine;
    height: 12rem;
    font-size: 10rem;
    margin: 5rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    white-space: nowrap;
    text-align: center;
    margin-top: 35rem;
}

.sign-up-form {
    font-family: Constantine;
    display: flex;
    color:white;
    flex-direction: column;
}

.sign-up-form.header {
    padding: 3rem 8rem 2rem 8rem;
    font-size: 3rem;
    background: linear-gradient(90deg, #000000, #434343);
}

form {
    background-color: white;
    background: linear-gradient(90deg, #000000, #434343); 
    font-size: 4rem;
}

.form-controls {
    position: relative;
    gap: 4rem;
    box-sizing: border-box;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);
}

.form-controls p {
    margin-left: 4rem;
}
fieldset div {
    position: relative;
}

label {
    position: absolute;
    font-size: 2rem;
    width: 100%;
}

input {
    padding: 0.5rem;
    font-size: 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(179, 171, 171);
}

.control-pos1 {
    left:4rem;
}

.control-pos2 {
    left: calc(795px + 4rem);
}


#first-name, #email, #password {
    margin: 3rem 9rem 3rem 4rem;
}

#last-name, #phone-number, #confirm-password {
    margin: 3rem 9rem 3rem 5.4rem;
}

input:valid {
    border: 4px solid green;
}

input:invalid {
    border: 4px solid red;
}

input:focus {
    border: 4px solid blue;
    box-shadow: 4px 4px 10px 5px rgba(243, 240, 240, 0.5);
}


button {
    font-family: Constantine;
    box-sizing: content-box;
    font-size: 3rem;
    padding: 1rem 5rem 1rem 5rem;
    border: none;
    border-radius: 12px;
    width: 10rem;
    background-color:rgb(179, 182, 185);
}

.sign-up-form.footer {
    font-size: 3rem;
    white-space: nowrap;
    margin: 2rem 0 12rem 5.5rem;
    background: linear-gradient(90deg, #000000, #434343);
    border: none;
    padding-bottom: 8rem;
}

.sign-up-form.footer p {
    margin: 0;
    margin-top: 4rem;
}

a {
    color:deepskyblue;
}

a:hover {
    color: aliceblue;
}
