body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(./images/nights-watch3.jpg);
    background-size: auto 100vh;
    display: flex;
}

@font-face {
    font-family: 'AnglicanText';
    src: url('./font/anglic/AnglicanText.woff2') format('woff2'),
        url('./font/anglic/AnglicanText.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Constantine';
    src: url('./font/const/Constantine.woff2') format('woff2'),
        url('./font/const/Constantine.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.slogan {
    font-family: AnglicanText, Constantine;
    font-size: 10rem;
    padding: 4rem;
    margin: 5rem;
    color: rgb(181, 184, 185);
    background-color: transparent;
    white-space: nowrap;
}

.sign-up-form {
    font-family: Constantine;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.sign-up-form.header {
    margin: 0;
    overflow-wrap: break-word;
    font-size: 3rem;
}

form {
    background-color: white;
    font-size: 4rem;
}

form p {
    margin: 2rem 0 3rem 4rem;
}

.form-controls {
    position: relative;
    gap: 4rem;
}

fieldset div {
    position: relative;
}

label {
    position: absolute;
    font-size: 2rem;
    width: 100%;
}

.control-pos1 {
    left:4rem;
}

.control-pos2 {
    left: calc(795px + 4rem);
}

input {
    padding: 0.5rem;
    font-size: 2.5rem;
}

#first-name, #email, #password {
    margin: 3rem 9rem 3rem 4rem;
}

#last-name, #phone-number, #confirm-password {
    margin: 3rem 9rem 3rem 5.4rem;
}

.sign-up-form.footer {
    font-size: 2rem;
    white-space: nowrap;
    margin: 1rem 0 12rem 0;
}
