@font-face {
    font-family: 'Constantine';
    src: url('Constantine.woff2') format('woff2'),
        url('Constantine.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

